/* å…¬ç”¨å¸ƒå±€æ ·å¼ */
html {
    font-size: 14px;
    font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "PingFang SC", Roboto, "Microsoft YaHei", "Source Han Sans SC", "Noto Sans CJK SC", "Myriad Pro", "Hiragino Sans", "Yu Gothic", "Lucida Grande", sans-serif;
}
body * {
    box-sizing: border-box;
    flex-shrink: 0;
}

body {
    font-family: PingFangSC-Regular, Roboto, Helvetica Neue, Helvetica, Tahoma,
        Arial, PingFang SC-Light, Microsoft YaHei;
}

button {
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    outline: none;
    background-color: transparent;
}

button:active {
    opacity: 0.6;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.justify-start {
    display: flex;
    justify-content: flex-start;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.justify-end {
    display: flex;
    justify-content: flex-end;
}

.justify-evenly {
    display: flex;
    justify-content: space-evenly;
}

.justify-around {
    display: flex;
    justify-content: space-around;
}

.justify-between {
    display: flex;
    justify-content: space-between;
}

.align-start {
    display: flex;
    align-items: flex-start;
}

.align-center {
    display: flex;
    align-items: center;
}

.align-end {
    display: flex;
    align-items: flex-end;
}
/* normalize æ ·å¼ */
p {
    margin: 0px;
}
ul li {
    font-size: 15px;
    text-indent: 1px;
    line-height: 23px;
    padding: 4px 0;
}
ol li {
    font-size: 15px;
    text-indent: 1px;
    line-height: 23px;
    padding: 4px 0;
}
img {
    margin-top: 16px;
}

/* åˆ¶å®šç•Œé¢ç»Ÿä¸€çš„æ ·å¼ç±» */
/* æ•´ä¸ªé¡µé¢è§„èŒƒ */

/* é¡µé¢ä¸»æ ‡é¢˜ */
.mainTitle {
    font-size: 20px;
    line-height: 23px;
    padding: 8px 0;
}
/* é¡µé¢ä¸»æ ‡é¢˜å…¶ä»–é¢œè‰² */
.titleStyle {
    overflow-wrap: break-word;
    white-space: nowrap;
    font-weight: 23px;
    color: #1f2125;
}
/* åˆ†ç±»æ ‡é¢˜ï¼šå¤§çš„åˆ†ç»„å’Œåˆ†ç±» */
.cateSub {
    font-size: 16px;
    line-height: 24px;
    padding: 10px 0;
}
/* äºŒçº§æ ‡é¢˜ï¼šæ­¥éª¤ã€å±žäºŽä»‹ç»ç­‰ */
.secTitle {
    font-size: 15px;
    line-height: 24px;
    padding: 4px;
}
/* æ®µè½æ ‡é¢˜ï¼šè‡ªç„¶æ®µã€æœ‰åºåˆ—è¡¨ã€æ— åºåˆ—è¡¨ */
.paramTitle {
    font-size: 15px;
    line-height: 24px;
    padding: 40px 0;
}
/* ç»Ÿä¸€è¡¨æ ¼æ ·å¼ */
/* ä¸»æ ‡é¢˜ä¸‹é¢æ—¶é—´å¤„ç† */
.publishTime {
    font-size: 15px;
    padding: 10px 14px;
    color: #6d6f73;
}
/* æ™®é€šæ®µè½çš„æ ·å¼ */
.paragraph {
    font-size: 15px;
    padding: 4px 14px;
    line-height: 20px;
    color: #6d6f73;
}
.paragraph .right-txt {
	position: relative;
	padding-left: 0.2rem;
}
/* åˆ—è¡¨æ ·å¼ */
.orderList {
    font-size: 15px;
    padding: 4px 14px;
    line-height: 20px;
}
/* æ— åºåˆ—è¡¨ */
.disorderList {
    font-size: 15px;
    padding: 4px 14px;
    line-height: 20px;
}
/* äºŒçº§æ ‡é¢˜ -- ç›¸åŒæ®µè½é—´è·ä¸Žä¸åŒæ®µè½é—´è·ä¸åŒåŠŸèƒ½ */
.sameSegment {
    margin-bottom: 28px;
}
.sameSegment .secParagraph {
    font-size: 15px;
    line-height: 24px;
    padding: 0px 20px 0px 20px;
}
.sameSegment .secParagraph>p {
    font-size: 16px;
    line-height: 24px;
    padding: 10px 0;
    color: #1f2125;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}
.sameSegment .secParaphs>p{
    padding: 3px 0 16px 0;
}
.sameSegment .secParaphs>p span{
    font-size: 15px;
    line-height: 23px;
    padding: 4px 0;
    color: rgba(31, 33, 38, 1);
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}
.col1 {width: 200px;}
.col2 {width: 500px;}
.col3 {width: 500px;}
.col4 {width: 300px;}
.col5 {width: 100px;}
/* è¡¨æ ¼çš„é€šç”¨æ ·å¼ */
.commonTable {
    width: 100%;
    font-size: 17px;
    line-height: 23px;
    overflow-y: scroll;
    padding: 13px 0 13px 14px;
}
table {
    min-width: 1200px;
}
table.gridtable {
    font-family: verdana,arial,sans-serif;
    font-size: 14px;
    color:#333333;
    border-width: 1px;
    border-color: #e0e0e0;
    border-collapse: collapse;
}
table.gridtable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #e0e0e0;
}
table.gridtable td {
    border-width: 1px;
    border-style: solid;
    color: #6d6f73;
    border-color: #e0e0e0;
    padding: 2px 4px 2px 0px;
}
table::-webkit-scrollbar{
    display:none
}
/* ç»Ÿä¸€aæ ‡ç­¾æ ·å¼ */
a{
    color: #6179F2;
    text-decoration: none;
    background-color: transparent;
}
/* æ¸…å•ä¸­å­˜åœ¨åŠ ç²—å’ŒåŠ é‡ */
.important {
    font-weight: bold;
    color: #1f2125;
}